<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
    {{ if .Site.Params.Navbar.FixedTop }}
        {{- partial "header_fixed_top.html" . -}}
    {{ else }}
        {{- partial "header_default.html" . -}}
    {{ end }}

    <div id="main">
        <div class="container">
            <div class="row">
                <div class="col-md" id="content">
                    {{- block "main" . }}{{- end }}
                </div>

            </div>
        </div>
    </div>

    {{ block "footer" . }}
    {{ partial "footer_container.html" . }}
    {{ partial "subfooter_container.html" . }}
    {{ end }}

    <div id="media-width-detection-element"></div>
</body>

{{- partial "bottom.html" . -}}

</html>