<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
{{- $navbarStyle := "fixed-top" -}}
{{- if .Site.Params.Navbar.Style -}}
    {{- $navbarStyle = .Site.Params.Navbar.Style -}}
{{- end -}}
    {{ if eq $navbarStyle "fixed-top"  }}
        {{- partial "header_fixed_top.html" . -}}
    {{ else }}
        {{- partial "header_default.html" . -}}
    {{ end }}

    <div id="main">
        <div class="container">
            <div class="row">
                <div class="col-md" id="content">
                    {{- block "main" . }}{{- end }}
                </div>

            </div>
        </div>
    </div>

    {{ block "footer" . }}
        {{ partial "footer_container.html" . }}
        {{ partial "subfooter_container.html" . }}
    {{ end }}

    <div id="media-width-detection-element"></div>

    {{- if .Site.Params.Analytics.Matomo.Enabled -}}
{{ partial "analytics/matomo.html" . }}
{{- end -}}
{{ template "_internal/google_analytics_async.html" . }}
{{- if .Site.Params.Analytics.Yandexmetrica.Enabled -}}
{{ partial "analytics/yandexmetrica.html" . }}

{{- end -}}
{{- partial "bottom.html" . -}}

</body>
</html>