{{- if .Site.Params.Theme.Footer.Enabled -}}
    <div class="footer-container" style="">
    <div class="container">
        <footer>


            <div class="row">

                {{- $path := printf "%s%s" (default "/content_sections/" .Site.Params.contentSectionsPath ) "footer/" -}}
                {{- $files := readDir $path -}}
                {{- $footerRow := "" -}}
                {{- range $files | sort -}}
                    {{- $fileName := printf "%s%s" $path .Name -}}
                        
                    {{- $footerRow = readFile $fileName | markdownify -}}

                    {{ partial "footer_column.html" (dict "Page" . "Content" $footerRow) }}

                {{- end -}}

              
            </div>
        </footer>
    </div>
</div>
{{- end -}}