{{- if .Site.Params.Theme.Footer.Enabled -}}
    <div class="footer-container" style="">
    <div class="container">
        <footer>

            <div class="row">
            {{ $footerItems := .Site.GetPage "/sections/footer" }}
            {{ if $footerItems }}
                {{ range sort $footerItems.Resources "Name" }}
                    {{ partial "footer_column.html" . }}
                {{ end }}
            {{ end }}              
            </div>
        </footer>
    </div>
</div>
{{- end -}}