{{- $navbarColorScheme := "navbar-dark" -}}
{{- if .Site.Params.Navbar.ColorScheme -}}
{{- $navbarColorScheme = .Site.Params.Navbar.ColorScheme -}}
{{- end -}}
{{- $navbarBgScheme := "bg-primary" -}}
{{- if .Site.Params.Navbar.BgScheme -}}
{{- $navbarBgScheme = .Site.Params.Navbar.BgScheme -}}
{{- end -}}

<nav class="navbar fixed-top navbar-expand-lg {{ $navbarColorScheme }} {{ $navbarBgScheme }}">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ if .Site.Params.Navbar.BrandImage }}<img src="{{ .Site.BaseURL }}{{ .Site.Params.Navbar.BrandImage }}" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp; {{ end }}{{ .Site.Title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse  {{ .Site.Params.Navbar.TextAlignment }}" id="navbarMain">
    <ul class="navbar-nav mr-auto">
      {{- partial "navbar_items.html" . -}}
    </ul>
</nav>