{{ if .Site.Params.Theme.Subfooter.Enabled }}
<div class="subfooter-container">

    <div class="container">
        <div class="footer">
            <div class="row wrapper padding">
                <div class="col-xs-12 col-md-12">

            {{ $subfooterItems := .Site.GetPage "/sections/subfooter" }}
            {{ if $subfooterItems }}
                {{ range sort $subfooterItems.Resources "Name" }}
                    {{ partial "subfooter_item.html" . }}
                {{ end }}
            {{ end }}

                  
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}